@media only screen and (max-width:1750px){}
@media only screen and (max-width:1600px){
	.properties_box_wrappper {
		column-count: unset;
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
	}
	.properties_box {
		max-width: 280px;
	}
	.myAcc-wrapper {
		width: 100%;
	}
}
@media only screen and (max-width:1440px){
	.properties_box {
		max-width: 260px;
	}
	.serach_filter{
		max-width: 450px;
	}	
	.chatLeft{
		max-width: 400px;
	}
	.chatRight {
		width: calc(100% - 400px);
	}
}
@media only screen and (max-width:1280px){
	.header_left {
		max-width: 200px !important;
	}
	.header_right {
		width: calc(100% - 200px) !important;
	}
	.rightContent_wrapper {
		width: calc(100% - 200px) !important;
	}
}
@media only screen and (max-width:1200px){
	.header_left {
		max-width: 150px !important;
	}
	.header_right {
		width: calc(100% - 150px) !important;
	}
	.rightContent_wrapper {
		width: calc(100% - 150px) !important;
	}
	.left_menu_logo a img {
		max-width: 100px !important;
	}
	.addProperty_wrapper {
		max-width: 700px;
		padding: 10px 20px;
	}
	.bookingDetail_section .nav-pills .nav-link {
		font-size: 16px;
		padding: 0 10px;
	}
	.payment_options {
		flex-wrap: wrap;
	}
	.inbox-content {
		gap: 30px;
	}
	.chatLeft {
		max-width: 370px;
	}
	.chatRight {
		width: calc(100% - 370px);
	}
	.chatLeft .ownerImg {
		max-width: 60px;
	}
	.chatLeft .owner_desc {
		width: calc(100% - 130px);
	}
	.chat-time-msg {
		max-width: 70px;
	}
	.menu_links .one{
		margin-right: 0;
	}
}
@media screen and (max-width: 1024px){
	.property_Owner_section{
		margin: 0 auto;
	}
}
@media screen and (max-width:991px){
	.inbox-content {
		flex-direction: column;
	}
	.chatLeft {
		max-width: 500px;
		margin: 0 auto;
		height: 400px;
	}
	.chatRight {
		width: 100%;
	}
	.header_menu_button .title {
		display: none;
	}
	.bookingDetail_section .nav-pills .nav-link{
		margin-bottom: 15px;
	}
	.guest_profile_btn{
		width: 180px;
	}
}